* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.btn {
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: white;
  background: blue;
}

.border-b {
  border-bottom: 1px solid;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dialog {
  width: 300px;
  min-height: 400px;
  margin: auto;
}

input {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 5px;
}

button {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

table,
th,
td {
  border: 1px solid;
}

th {
  text-align: left;
  background: #ddd;
  height: 40px;
}

table {
  width: 100%;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}
